/* For GameStatus Component */
.status {
  text-align: center;
  font-family: 'Shadows Into Light', cursive;
}

.status p{
  margin-top: 1em;
  font-size: 1.5rem;
}

.status button{
  padding: 0.5em 0.9em;
  font-size: 1.5rem;
  font-family: inherit;
  background-color: #94a3b8;
}

/* Utility to indicate player color */
.red{
  color: #ef4444;
}

.blue{
  color: #38bdf8;
}